body {
  display: block;
}
.main {
  max-width: 60%;
  display: block;
  margin: 0 auto;
  align-items: center;
}
h1 {
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
  background: radial-gradient(
    circle at -2.2% -3.8%,
    rgb(249, 252, 113) 0%,
    #7ad6fa 100.2%
  );
  opacity: full;
  position: absolute;
  top: 4px;
  padding: 10px;
  width: 60%;
}
form {
  width: 98%;
  position: absolute;
  top: 80px;
  display: block;
}
input[type="text"] {
  width: 47%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}
input[type="submit"] {
  width: 7%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  background-color: rgb(250, 254, 255);
  font-size: larger;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}
.my-location-button {
  width: 7%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  background-color: rgb(182, 238, 130);
  font-size: small;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}

h2 {
  display: block;
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
  width: 100%;
}
.container-location {
  margin-top: 130px;
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
}
.container-weather {
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
  font-size: larger;
}
.card-group {
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
}
.list-group-item {
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
}
.container-city {
  display: block;
  margin: 0 220px;
}
.city-3 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
  margin: 0 0;
  margin-left: auto;
  margin-right: auto;
}
